:root {
  --primary-font: 'Montserrat', sans-serif;
  --background-lighter: #FFFFFF;
  --background-dark: #212121;
  --color-text-lighter: #E5E5E5;
  --color-text-dark: #212121;
  --color-text-placeholder: #9E9E9E;  
  --color-text-error: #FF0000;  
}                      

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-lighter);
}

.content {
  max-width: 1280px;
  width: 100%;
}

button {
  font-family: var(--primary-font);
  cursor: pointer;
}

.error {
  font-size: 12px;
  font-weight: normal;
  color: var(--color-text-error);
}

.error-login {
  font-size: 16px;
  margin-top: 8px;
  color: var(--color-text-error);

}

/* modais */
.modal-naver {
  display: grid;
  grid-template-columns: 1fr 1fr 32px;
  max-width: 1000px;
  width: 100%;
}

.modal-naver .image {
  height: 500px;
}

.modal-naver img {
  max-width: 500px;
  width: 100%;
  height: 500px;
}

.modal-naver .informations {
  padding: 32px;
}

.modal-naver .informations h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-naver .informations span {
  font-weight: 600;
}

.modal-naver .informations p {
  margin: 10px 0 24px 0;
}

.modal-naver .informations .buttons-delete-edit a {
  color: var(--color-text-dark);
}

.modal-naver .informations .buttons-delete-edit svg {
  cursor: pointer;
  margin-right: 12px;
}

.modal-naver .icon-close-modal {
  cursor: pointer;
  margin-top: 8px;
}

.modal-delete p {
  padding: 32px 32px 0 32px;
}

.modal-delete div {
  display: flex;
  justify-content: flex-end;
  margin: 32px;
}

.modal-delete div button {
  width: 176px;
}

.modal-delete button:first-child {
  background-color: var(--background-lighter);
  border: 1px solid var(--background-dark);
  color: var(--color-text-dark);
  margin-right: 24px;
}

.modal-confirmation {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.modal-confirmation div p:first-child {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.modal-confirmation svg {
  cursor: pointer;
}

/* media */
@media screen and (max-width: 960px) {
  .modal-naver {
    grid-template-columns: 1fr 2fr 32px;
    justify-items: left;
    height: 90%;
    width: 100%;
    overflow: hidden;
  }

  .modal-naver .image {
    display: flex;
    align-self: center;
    height: 400px;
  }
  
  .modal-naver img {
    width: 280px;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .modal-naver {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .modal-naver .image {
    height: 240px;
  }
  
  .modal-naver img {
    height: 240px;
    margin-right: 10px;
  }

  .modal-naver .icon-close-modal {
    position: absolute;
    right: 8px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 360px) {
  .modal-naver .image {
    height: 240px;
  }
  
  .modal-naver img {
    width: 230px;
    height: 88%;
    margin-right: 10px;
  }
}